:host {
    --radius: 0.375rem;
    --card: 220 18% 10%;
    --border: 220 15% 18%;
    --primary: 160 60% 45%;
    --radius: 0.375rem;
    --destructive: 0 70% 50%;
    --muted: 220 15% 13%;
    --muted-foreground: 220 10% 50%;
    --primary-foreground: 220 20% 7%;

    font-family:
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        Liberation Mono,
        Courier New,
        monospace;

    height: 100%;
    width: 100%;

    border: 1px solid hsl(var(--border));
    background-color: hsl(var(--card));
    border-radius: var(--radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    .listing {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        header {
            height: 30px;
            background: rgba(28, 31, 38, 0.6);
            border-bottom: 1px solid hsl(var(--border));

            display: flex;
            align-items: center;
            justify-content: space-between;

            .actions {
                display: flex;
                align-items: center;

                .action {
                    cursor: pointer;
                    padding: 4px;
                    display: flex;
                    align-items: center;
                    z-index: 1;

                    img {
                        height: 14px;
                        padding: 4px;
                        border-radius: 4px;
                    }

                    &:hover {
                        background-color: hsl(var(--border) / 0.6);
                    }
                }
            }

            .title {
                color: hsl(var(--primary));
                height: 14px;
                padding: 0 12px;
                display: flex;
                align-items: center;
                font-size: 0.75rem;
                line-height: 1rem;

                img {
                    height: 14px;
                    margin-right: 5px;
                }

                .text {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 2px;

                    .name {
                        margin-right: 10px;
                    }

                    .description {
                        color: hsl(var(--muted-foreground));
                    }
                }
            }
        }

        main {
            flex: 1;
            display: flex;
            flex-direction: column;
            position: relative;

            .loader {
                color: hsl(var(--muted-foreground));
                font-size: 13px;
                animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
                text-align: center;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .error {
                font-size: 13px;
                text-align: center;
                color: hsl(var(--destructive));
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .navigation {
                height: 25px;
                padding: 10px;
                font-size: 0.75rem;
                line-height: 1rem;
                background-color: hsl(var(--card));
                display: flex;
                align-items: center;
                border-bottom: 1px solid hsl(var(--border));

                .breadcrumbs {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;

                    .breadcrumb {
                        color: hsl(var(--primary));
                        margin-right: 4px;
                        cursor: pointer;

                        &:after {
                            margin-left: 4px;
                        }

                        &:hover {
                            color: rgb(189, 219, 209);
                        }

                        &:last-child {
                            margin-right: 0;
                            color: rgb(189, 219, 209);
                            cursor: default;
                        }
                    }

                    .arrow {
                        height: 12px;
                        width: 12px;
                        opacity: 0.6;
                        top: 2px;
                        margin-right: 4px;
                        position: relative;
                    }
                }
            }

            .content {
                padding: 10px 10px;
                font-size: 0.75rem;
                line-height: 1rem;
                background-color: hsl(var(--muted) / 0.3);
                border-bottom: 1px solid hsl(var(--border));
            }
        }

        footer {
            height: 25px;
            background: rgba(28, 31, 38, 0.6);
            border-top: 1px solid hsl(var(--border));
        }
    }

    .creds {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        /* display: none; */

        &.blurred {
            background: rgba(28, 31, 38, 0);
            backdrop-filter: blur(4px);
        }

        .auth {
            display: flex;
            flex-direction: column;
            background: hsl(var(--card));
            position: relative;
            background-color: rgba(21, 24, 30, 0.95);
            border: 1px solid hsl(var(--border));
            padding: 30px;
            box-shadow:
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0.5) 0px 25px 50px -12px;
            border-radius: var(--radius);

            .title {
                margin-bottom: 12px;
                color: hsl(var(--primary));
            }

            label {
                font-size: 0.75rem;
                line-height: 1rem;
                margin-bottom: 1rem;
                color: hsl(var(--muted-foreground));
            }

            input {
                font-size: 0.875rem;
                line-height: 1.25rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
                background-color: rgb(28, 31, 38);
                border-color: rgb(39, 44, 53);
                border-width: 1px;
                border-radius: calc(var(--radius) - 2px);
                width: 100%;
                margin-bottom: 12px;
                color: rgb(189, 219, 209);
                box-sizing: border-box;

                &:focus {
                    outline: none;
                    border-color: hsl(var(--primary));
                    box-shadow: 0 0 0 1px hsl(var(--primary));
                }
            }

            button[type='submit'] {
                margin-top: 12px;
                width: 100%;
                background-color: hsl(var(--primary));
                color: hsl(var(--primary-foreground));
                letter-spacing: 0.05em;
                font-size: 13px;
                font-weight: 500;
                padding: 0.5rem 1rem;
                border-radius: calc(var(--radius) - 2px);
                height: 2rem;
                cursor: pointer;
                border: none;

                &:hover {
                    background-color: hsl(var(--primary) / 0.9);
                }
            }
        }
    }
}

:host(.max) {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
